meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Valorar los Impactos y Riesgos Ambientales según Metodologías Establecidas
meta(meta name="description" content="En este componente formativo se identificarán todos los términos, técnicas y métodos necesarios para el desarrollo del primer resultado de aprendizaje, su fin es preparar al aprendiz para el diagnóstico ambiental en una organización, realizando identificación del contexto de la organización, componentes ambientales, diversas metodologías de evaluación de impacto y riesgos ambientales para priorizar impactos significativos y proponer planes de manejo ambiental.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")