.container#presentacion

    .header-ecored
        h1 1. Presentación

    .jumbotron.bg-white.mt-5 

        p Un primer paso para comenzar a implementar la gestión ambiental en las organizaciones es realizando un diagnóstico ambiental, para ello el enfoque es la valoración cualitativa y cuantitativa de impactos y riesgos ambientales, de un sistema socioecológico elegido por su equipo colaborativo, lo cual se verá plasmado en un informe tipo diagnóstico donde detalle de manera cualitativa y cuantitativa los impactos y riesgo ambientales del sistema.

        p Es importante comprender que cualquier proceso de transformación de productos y prestación de servicios, trae consigo la generación de impactos ambientales positivos y negativos que afectan los sistemas socioecológicos, debido a las prácticas insostenibles y el incumplimiento de las diferentes normas, acuerdos y políticas que regulan estas actividades.

        p Por lo anterior, el diagnóstico del estado actual del sistema se convierte en una herramienta de análisis necesaria para la identificación de los aspectos e impactos ambientales y que, a su vez, le permite la formulación de un plan de acción para el mejoramiento del desempeño ambiental de la organización o proyecto, para así definir medidas de prevención y mitigación ambiental.


        .row.align-items-center.justify-content-center.ml-4
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")