.container#base1

    .header-ecored
        h1 3. Bases conceptuales para la evaluación y valoración de los aspectos, impactos y riesgos ambientales

    br#introduccion1

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.1 Introducción

        .row.align-items-center.justify-content-center.my-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")
        
        p Es obvio que, si el impacto ambiental es el resultado de la interacción entre un proyecto o actividad propuesta y el ambiente, para identificar los impactos es indispensable empezar por un buen conocimiento del proyecto, obra o actividad propuesto, de sus componentes, sus procesos constructivos y operativos, las etapas de desarrollo que comprende, etc. 

        p Es por esto que es indispensable describir cuales son los procesos que se llevan a cabo al interior de la organización o proyecto para llegar a la identificación de los aspectos e impactos ambientales. 

        p Se requiere entonces realizar una lectura de la información técnica, de ingeniería y operacional del proyecto “con ojos ambientales”, es decir, realizar un análisis de la documentación correspondiente con la finalidad de detectar aquellas acciones (actividades, operaciones, procedimientos, elementos, aspectos, tareas, etc.) del proyecto, obra o actividad que están relacionándose de cualquier manera con el medio ambiente, porque son éstas las que producirán, directa o indirectamente, los cambios en algunos de los componentes de dicho entorno. 

        p Estas acciones se denominan: Acciones susceptibles de producir impacto (ASPI), por tanto, se requiere identificar los aspectos e impactos relacionados. Se relaciona según Arboleda, un listado general de aspectos ambientales y su correspondiente impacto ambiental.

        .header-arrow.my-5
            h3.text-center #[b Listado general de aspectos e impactos ambientales:]
            p.mt-4.text-white A continuación, se relacionan algunas tablas que se relacionan en el Manual de Evaluación de Impactos Ambientales para proyectos, obra actividades.
        
        p.text-center Jorge A, Arboleda (2008) Manual de Evaluación de Impacto Ambiental de Proyectos, Obras o Actividades. p. 18.

        section
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_1_Manual_EIA_arboleda_anexos.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Manual de evaluación de impacto ambiental (EIA) - Anexos
        
        p.mt-4 Por tanto, con lo visto en la unidad, podemos resumir lo siguiente, es indispensable identificar los componentes ambientales en el área de influencia directa e indirecta y comprender los procesos a los que se dedica la organización a manera de plano de localización y diagrama de flujo de procesos.

        .hr

        p.mt-5 #[b Ejemplo 1:]

        p Identificación de áreas, procesos y componentesde un proyecto, obra o actividad.

        .row.align-items-center.mt-5
            .col-12.col-md-6
                .row.justify-content-center
                    .col-12
                        .table-responsive
                            table.table.table-bordered.m-0
                                thead.thead-dark
                                    tr
                                        td(colspan='2').table1
                                            p.text-white.text-center #[b Fábrica por construir y localizada en zona rural]
                                tbody
                                    tr
                                        td.table3
                                            p.text-center #[b Etapa]
                                        td.table3
                                            p.text-center #[b Componentes]
                                    tr
                                        td.table2
                                            p Construcción
                                        td.table2
                                            ul
                                                li Carreteras.
                                                li Acueducto.
                                                li Línea eléctrica.
                                                li Fábrica.
                                    tr
                                        td.table2
                                            p Funcionamiento
                                        td.table2
                                            ul
                                                li Planta de producción.
                                                li Bodegas.
                                                li Restaurantes.
                                                li Zona de almacenamiento de combustibles.
                                                li Talleres.
                                                li Depósitos de basuras.
            .col-12.col-md-6
                img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%")

        .hr

        p.mt-5 #[b Ejemplo 2:]

        p Diagrama de flujo para la fabricación de mantequilla, con sus respectivas entradas y salidas identificando aspectos ambientales.

        .row.align-items-center.justify-content-center.my-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")
        
        p.text-center Fuente: Jorge A, A (2008). Manual de Evaluación de Impactos Ambientales para proyectos, obra actividades. Pág. 25.

        .hr

        p.mt-5 #[b Ejemplo 3:]

        p Descripción de las ASPI (acciones susceptibles de producir impactos), de un proyecto, obra o actividad.

        .row.justify-content-center.mt-5
            .col-12
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td
                                td(colspan='3').table1
                                    p.text-white.text-center #[b Fase (2)]
                        tbody
                            tr
                                td.table3
                                    p.text-center #[b Etapa (1)]
                                td.table3
                                    p.text-center #[b Industriales/urbanísticos (3)]
                                td.table3
                                    p.text-center #[b Concentrados (4)]
                                td.table3
                                    p.text-center #[b Lineales (5)]
                            tr
                                td.table2
                                    p #[b Planeación o estudios]
                                td.table2
                                    ul
                                        li Identificación de la idea.
                                        li Anteproyecto preliminar.
                                        li Anteproyecto definitivo.
                                        li Proyecto definitivo.
                                td.table2
                                    ul
                                        li Reconocimiento.
                                        li Prefactibilidad.
                                        li Factibilidad.
                                        li Diseño.
                                td.table2
                                    ul
                                        li Concepción proyecto.
                                        li Evaluación alternativa de ruta.
                                        li Factibilidad.
                                        li Selección ruta definitiva.
                            tr
                                td.table2
                                    p #[b Construcción / Ejecución]
                                td.table2
                                    ul
                                        li Preparación del sitio.
                                        li Construcción y montaje de equipos e instalaciones.
                                td.table2
                                    ul
                                        li Actividades previas.
                                        li Construcción y montaje de equipos e instalaciones.
                                td.table2
                                    ul
                                        li Licitación y contratación.
                                        li Replanteo definitivo, construcción y montaje.
                            tr
                                td.table2
                                    p #[b Operación y mantenimiento]
                                td.table2
                                    ul
                                        li Toma el mismo nombre de la etapa.
                                td.table2
                                    ul
                                        li Toma el mismo nombre de la etapa.
                                td.table2
                                    ul
                                        li Puesta en servicio.
                                        li Inicio de operación comercial.
                            tr
                                td.table2
                                    p #[b Terminación (Desmantelamiento)]
                                td.table2
                                    ul
                                        li Toma el mismo nombre de la etapa.
                                td.table2
                                    ul
                                        li Toma el mismo nombre de la etapa.
                                td.table2
                                    ul
                                        li Toma el mismo nombre de la etapa.
        
        .hr

        p.mt-5 #[b Ejemplo 4:]

        p Descripción de ASPI, ASPECTOS e IMPACTOS ambientales de un proyecto, obra o actividad.

        .row.justify-content-center.mt-5
            .col-12
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b ASPI]
                                td.table1
                                    p.text-center.text-white  #[b Aspecto ambiental]
                                td.table1
                                    p.text-center.text-white #[b Impacto ambiental]
                        tbody
                            tr
                                td(rowspan='5').table3
                                    p #[b Remoción vegetal y descapote]
                                td.table2
                                    p Intervención del suelo.
                                td.table2
                                    p Alteración de las propiedades fisicoquímicas del suelo.
                            tr
                                td.table2
                                    p Intervención de la cobertura vegetal.
                                td.table2
                                    p Procesos erosivos.
                            tr
                                td.table2
                                    p Intervención de la fauna.
                                td.table2
                                    p Afectación de la avifauna.
                            tr
                                td.table2
                                    p Generación de excedentes de excavación.
                                td.table2
                                    p Contaminación del suelo.
                            tr
                                td.table2
                                    p Aporte de sedimentos a los sistemas hídricos.
                                td.table2
                                    p Afectación del ciclo hidrológico  Contaminación del recurso hídrico.
                            tr
                                td(rowspan='7').table3
                                    p #[b Demolición de estructuras existentes]
                                td.table2
                                    p Emisión de gases y/o material particulado.
                                td.table2
                                    p Contaminación del aire.
                            tr
                                td.table2
                                    p Intervención del suelo.
                                td.table2
                                    p Alteración de las propiedades fisicoquímicas del suelo.
                            tr
                                td.table2
                                    p Generación de escombros.
                                td.table2
                                    p Generación de escombros.
                            tr
                                td.table2
                                    p Consumo de Energía.
                                td.table2
                                    p Contaminación del suelo.
                            tr
                                td.table2
                                    p Intervención de cuerpos de agua.
                                td.table2
                                    p Contaminación del recurso hídrico.
                            tr
                                td.table2
                                    p Emisión de ruido.
                                td.table2
                                    p Contaminación del aire.
                            tr
                                td.table2
                                    p Aporte de sedimentos a los sistemas hídricos.
                                td.table2
                                    p Alteración de la calidad del agua.
                            tr
                                td(rowspan='5').table3
                                    p #[b Const. Instalaciones temporales]
                                td.table2
                                    p Generación de residuos solidos.
                                td.table2
                                    p Contaminación del suelo y cuerpos de agua.
                            tr
                                td.table2
                                    p Aporte de sedimentos a los sistemas hídricos.
                                td.table2
                                    p Sedimentación de quebradas.
                                    p Reducción de la capacidad hidráulica.
                            tr
                                td.table2
                                    p Consumo de materiales e insumos.
                                td.table2
                                    p Agotamiento de recursos naturales.
                            tr
                                td.table2
                                    p Emisión de ruido.
                                td.table2
                                    p Contaminación del aire por ruido.
                            tr
                                td.table2
                                    p Intervención de suelo.
                                td.table2
                                    p Alteración de las propiedades fisicoquímicas del suelo.
        
        p.mt-4 Partiendo de esta base de identificación de impactos, entraremos a realizar la valoración de estos.
    
    br#valoracion

    .jumbotron.bg-white

        .subtitulo-guion
            h2 3.2 La valoración ambiental

        p Es el conjunto de elementos, características, procesos que dotan al medio ambiente de una serie de cualidades y méritos en los que se basa la necesidad de su conservación (Conesa, 1997).

        p Esta valoración es el resultado del proceso de análisis y procesamiento de la información recolectada, por medio del cual se valora o cualifica la calidad de los componentes y factores del ambiente estudiado, permitiendo entonces sacar conclusiones sobre su importancia y apoyar de esta manera la toma de decisiones sobre las posibilidades de intervenirlo con el proyecto o de conservarlo en su estado actual.

    section.my-6#actividad-1
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5
    
    br#tipos

    .jumbotron.bg-white

        .subtitulo-guion
            h2 3.3 Tipos de valor

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Ecológico:]

                p Este valor estriba principalmente en su importancia e interés para la ciencia, la técnica y la cultura; por ser aprovisionadores de recursos o receptores de actividades; por la reserva genética depositada en ellos.
        
        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Productivo:]

                p El medio ambiente en general y cada sistema en particular produce bienes y servicios en mayor o menos medida, bien en forma de recursos accesibles (disponibles) o potenciales (no disponibles, con las técnicas actuales). Por lo tanto, este valor debe reflejar la capacidad productiva del ambiente.

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Paisajístico:]

                p Se refiere a los valores perceptuales incluyendo consideraciones de orden estético. Denota la expresión de los valores estéticos, plásticos y emocionales del medio natural.
        
        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Sociocultural:]

                p Estriba en la importancia e interés de las estructuras y condiciones sociales e histórico-culturales de las comunidades humanas o de la población de un área determinada.
    
    br#criterios

    .jumbotron.bg-white

        .subtitulo-guion
            h2 3.4 Criterios para la valoración ambiental
        
        p El valor ambiental de un factor es directamente proporcional al grado de caracterización cualitativa que producen las siguientes consideraciones, las cuales pueden tomarse como aspectos que posibilitan la determinación de la valoración ambiental (Conesa, 1997):
    
    section.my-6#actividad-2
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5
    
    br#capacidad

    .jumbotron.bg-white

        .subtitulo-guion
            h2 3.5 La capacidad de acogida o sensibilidad ambiental
        
        p La capacidad de acogida es la aptitud que presenta un determinado territorio para recibir las consecuencias positivas y negativas que se pueden derivar de la construcción o el funcionamiento de un proyecto (Conesa, 1997). 

        p Para su determinación se ha utilizado el concepto de la “sensibilidad ambiental” la cual se define como la mayor o menor capacidad de un sistema natural o social, para asimilar la acción de agentes externos sobre alguna de sus partes, sin que se produzcan cambios en la estructura o las propiedades de esas partes, de una magnitud tal que las alteren significativamente en comparación con su estado original. 

        p Esta sensibilidad ambiental no puede entenderse si se piensa en el sistema como un todo, puesto que la acción de los agentes externos se realiza, necesariamente, sobre componentes específicos del sistema.

        .header-arrow.my-5
            h3.text-center Existen diferentes criterios para calificar la sensibilidad ambiental, sin embargo, puede partirse de una escala inversa de tres rangos, así:

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img1.svg").img-fluid
                        p.card__copy 
                            span
                                b Sensibilidad ambiental alta: 
                                
                                p.mt-4 Cuando el sistema tiene poca capacidad para asimilar los cambios introducidos en sus componentes por la acción de un proyecto o actividad, aún si esta acción tiene una magnitud menor.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img2.svg").img-fluid
                        p.card__copy 
                            span
                                b Sensibilidad ambiental media:
                                
                                p.mt-4 El sistema tiene una capacidad moderada para asimilar las acciones propuestas sobre sus componentes; puede decirse que las respuestas de esos componentes son proporcionales a la magnitud de la acción de tales proyectos.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img3.svg").img-fluid
                        p.card__copy 
                            span
                                b Sensibilidad ambiental baja:
                                
                                p.mt-4 Cuando la acción de un proyecto o actividad, aún si tiene una magnitud considerable, produce cambios menores en la estructura o propiedades del componente sobre el cual actúa.
    
    br#caracteristicas

    .jumbotron.bg-white

        .subtitulo-guion
            h2 3.6 Características de los impactos

        p En respuesta a la forma como se ejecuta o realiza la acción que produce el impacto y de acuerdo con las condiciones del factor ambiental que está siendo afectado por dicha acción (línea base), se generan características especiales en los impactos, que le establecen atributos particulares a cada uno de ellos. 

        p Identificar estas particularidades es la mayor dificultad en las evaluaciones y por eso la mayoría de los métodos de evaluación tratan de calificar algunos de estos atributos con el fin de determinar la significación o gravedad del impacto. 

        p En la siguiente tabla se presenta una lista de algunas de estas características, obtenida del libro de Vicente Conesa, (1997) Guía metodológica para la evaluación de impacto ambiental.

        .row.justify-content-center.mt-5
            .col-12
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white #[b Característica]
                                td.table1
                                    p.text-center.text-white  #[b Definición]
                        tbody
                            tr
                                td.table2
                                    p #[b Clase]
                                td.table2
                                    p Se refiere al carácter beneficioso o perjudicial de las distintas acciones que van a actuar sobre los distintos factores considerados.
                            tr
                                td.table2
                                    p #[b Intensidad]
                                td.table2
                                    p Expresa “el grado de incidencia de la acción que produce el impacto sobre el factor ambiental considerado, en el ámbito específico en el que actúa”. Es decir, indica la significancia del cambio producido por el proyecto sobre el factor ambiental que se está considerando.
                            tr
                                td.table2
                                    p #[b Extensión]
                                td.table2
                                    p Es el área de influencia teórica o territorio hasta donde se extienden las consecuencias del impacto. Puede ser puntual, local, regional, nacional o global.
                            tr
                                td.table2
                                    p #[b Momento]
                                td.table2
                                    p El momento o plazo de manifestación, se refiere al tiempo transcurrido entre la aparición o inicio de la acción que produce el impacto y el comienzo de las afectaciones sobre el factor considerado. Se evalúa en términos de tiempo y puede ser inmediato, a corto, mediano o largo plazo.
                            tr
                                td.table2
                                    p #[b Persistencia o Duración]
                                td.table2
                                    p Se refiere al tiempo que supuestamente permanecerá el impacto desde cuando hace su aparición y hasta el momento a partir del cual el factor afectado retorna a las condiciones iniciales previas, ya sea por medios naturales o mediante la introducción de medidas correctoras”. Se evalúa en términos de tiempo de duración (fugaz, temporal o permanente).
                            tr
                                td.table2
                                    p #[b Reversibilidad]
                                td.table2
                                    p Se refiere a la posibilidad de reconstrucción en forma natural del factor afectado como consecuencia de la acción acometida, es decir, la posibilidad de que éste retorne a las condiciones iniciales previas a la acción, por medios naturales, una vez aquella deje de actuar sobre el medio”. Se evalúa en términos del tiempo que se demora la reconstrucción del factor.
                            tr
                                td.table2
                                    p #[b Recuperabilidad]
                                td.table2
                                    p Se refiere a la posibilidad de reconstrucción, total o parcial, del factor afectado como consecuencia de la actividad acometida, es decir, la posibilidad de retornar a las condiciones iniciales previas a la acción, por medio de la intervención humana o sea mediante la implementación de medidas de manejo ambiental. Se evalúa en términos de la posibilidad de recuperación.
                            tr
                                td.table2
                                    p #[b Relación causa-efecto]
                                td.table2
                                    p Este atributo se refiere a la forma de manifestación del efecto sobre un factor, como consecuencia de una acción. Puede ser directo o primario, cuando éste se da en el mismo tiempo y lugar donde se presenta la acción, o indirecto o secundario, cuando la manifestación no es consecuencia directa de la acción, sino que se genera a partir de un efecto primario, actuando en otro tiempo y lugar.
                            tr
                                td.table2
                                    p #[b Interacción de los efectos]
                                td.table2
                                    p Se refiere a la forma como se manifiestan las consecuencias del impacto. Puede ser de un modo simple o sea cuando se manifiesta sobre un solo componente ambiental sin inducir nuevos impactos; acumulativo cuando acumula o genera nuevas consecuencias o sinérgico cuando el resultado de acciones individuales menores actuando simultáneamente generan una incidencia mayor.
                            tr
                                td.table2
                                    p #[b Periodicidad]
                                td.table2
                                    p Se refiere a la regularidad con que se manifiesta el impacto, ya sea cíclico, continuo o Intermitente.
    
    br#gestion

    .jumbotron.bg-white

        .subtitulo-guion
            h2 3.7 Gestión del riesgo

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8m3vJDikEk0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.mt-4 Según la GTC 104 DE 2009 Riesgo es la posibilidad de que suceda algo que tendrá impacto en los objetivos.

        p El riesgo se puede originar en un evento, una acción o en la falta de acción. Las consecuencias pueden ir desde lo benéfico hasta lo catastrófico.

        p El riesgo para el ambiente se puede presentar en forma de "#[i perturbación]" causada por la actividad (o inactividad) humana que lleva a la degradación o a la pérdida de la sostenibilidad.

        p La gestión del riesgo comprende la cultura, procesos y estructuras que se orientan hacia el aprovechamiento de las oportunidades potenciales al tiempo que se manejan los efectos adversos ICONTEC (2006) NTC 5254 Gestión del riesgo.

        p La gestión del riesgo concierne a todo el mundo y nunca es responsabilidad exclusiva de la alta dirección, los gerentes ni del consultor de riesgos de la organización.

        p Exige el compromiso y la energía desde la alta dirección hasta los empleados, quienes pueden ser los primeros en ver un incidente, un peligro potencial o una oportunidad de mejora.

        p La información de entrada también puede provenir de las partes interesadas.

        p Como lo ilustra la trayectoria de retroalimentación todo el proceso de gestión del riesgo es iterativo. El proceso se puede repetir muchas veces con criterios adicionales o modificados para la evaluación del riesgo que conducen a un proceso de mejora continua.

        .row.align-items-center.justify-content-center.my-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%")
        
        .sub-line
            h2.my-5 Riesgo Ambiental
        
        p El riesgo ambiental se origina en la relación entre los seres humanos, sus actividades y el ambiente.

        p La gestión del riesgo ecológico, que trata sobre los riesgos asociados con las actividades humanas pasadas, presentes y futuras sobre la flora, la fauna y los ecosistemas, es un subconjunto de la gestión del riesgo ambiental.

        p Los riesgos ambientales se pueden agrupar en dos categorías: Riesgo para el ambiente, y Riesgo para una organización debido a temas relacionados con el ambiente.

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-5.rounded
            .col-12.col-md-8
                p #[b Riesgo para el ambiente]
                
                p Este tipo de riesgo reconoce que las actividades de una organización pueden causar alguna forma de cambio ambiental. Los riesgos ambientales se pueden relacionar con la flora y la fauna; la salud y el bienestar humanos; la prosperidad cultural y social; los recursos terrestres, acuáticos y aéreos; la energía y el clima. Es necesario definir el alcance de cada estudio particular.

            .col-12.col-md-4.text-center
                img.img-fluid(src="assets/images/pages/img4.svg", style="max-width: 60%")
        
        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12.col-md-4.text-center
                img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 60%")

            .col-12.col-md-8
                p #[b Riesgo para una organización debido a temas relacionados con el ambiente]
                
                p Esto incluye el riesgo de no cumplir la legislación y criterios existentes (o futuros). Otros riesgos incluyen las pérdidas de negocios que puede sufrir una organización como resultado de una gestión pobre, como es el caso de pérdida de reputación, multas, costos de litigios y por no asegurar y mantener los permisos y licencias para el desarrollo y las actividades operativas.
        
        p.mt-5 Los problemas de salud y seguridad y la gestión del riesgo para el manejo de emergencias pueden ser problemas significativos para el riesgo ambiental. Sin embargo, ya que otras guías abordan la orientación para estos problemas, y para evitar la duplicación, no se tratan en esta guía.

        p La gestión del riesgo ambiental proporciona un conjunto formal de procesos que ayuda en la toma de decisiones que afectan el ambiente y orienta a los encargados de tomar decisiones en lo relativo a tratar la incertidumbre.

    section.my-6#actividad-3
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5