.container#metodologias

    .header-ecored
        h1 4. Metodologías de valoración de impactos ambientales

    br#valoracion

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.1 Valoración de los impactos ambientales

        .row.align-items-center.justify-content-center.my-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")

        p En respuesta a la forma como se ejecuta o realiza la acción que produce el impacto y de acuerdo con las condiciones del factor ambiental que está siendo afectado por dicha acción (línea base). Se generan características especiales en los impactos, que le establecen atributos particulares a cada uno de ellos. 

        p Identificar estas particularidades es la mayor dificultad en las evaluaciones y por eso la mayoría de los métodos de evaluación tratan de calificar algunos de estos atributos con el fin de determinar la significación o gravedad del impacto.

        .header-arrow.my-5
            h3.text-center El procedimiento para la realización de esta actividad está compuesto por dos actividades secuenciales, a saber:
        
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img6.svg").img-fluid
                        p.card__copy 
                            span
                                b La identificación de los impactos:
                                
                                p.mt-4 Corresponde a la determinación de la existencia de un cambio en alguna de las condiciones ambientales por efecto de unas acciones de la organización o proyecto. Básicamente es el procedimiento de interrelacionar las ASPI y las FARI, para determinar donde se generan cambios en los factores ambientales.

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img7.svg").img-fluid
                        p.card__copy 
                            span
                                b La evaluación de los impactos ambientales:
                                
                                p.mt-4 Algunos autores la denominan también valoración y consiste en determinar la significancia de los cambios utilizando metodologías reconocidas.
        
        p En la siguiente Imagen se muestra el esquema que se propone para adelantar esta etapa del diagnóstico, el cual comprende las actividades anteriormente descritas y se le adiciona una tercera que tiene que ver con el manejo de la información que se genera con este proceso.

        .row.align-items-center.justify-content-center.my-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")
    
    br#metodologias1

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.2 Metodologías
        
        p Existe un gran número de metodologías, las cuales cubren un alto espectro de posibilidades generales o específicas, cualitativas o cuantitativas, sencillas o complejas, con altos o pocos requerimientos de información, con sencillos o sofisticados elementos de cálculo y procesamiento de información, etc.

        p Este amplio abanico de posibilidades indica que no existe un método universal o mejor que todos que sea aplicable a todo tipo de proyectos o utilizable en cualquier fase de estos.

        p Es por eso que la selección del método que se debe utilizar para una organización o proyecto debe ser el resultado de un análisis que considere los siguientes aspectos:

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-5.rounded
            .col-12
                .row.bg-color3.mx-0
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span A
                        .list__txt
                            p.mb-0 El tipo o naturaleza de la organización o proyecto que se esté evaluando.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span B
                        .list__txt
                            p.mb-0 La fase en que se encuentra.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span C
                        .list__txt
                            p.mb-0 Los requerimientos y disponibilidad de información.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span D
                        .list__txt
                            p.mb-0 La naturaleza de los impactos.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span E
                        .list__txt
                            p.mb-0 Los requisitos legales (específicamente los términos de referencia o las guías ambientales sectoriales).
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span F
                        .list__txt
                            p.mb-0 Los recursos técnicos, financieros y de tiempo disponibles.
        
        .row.align-items-center.justify-content-center.my-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")
        

        p.mt-4 De acuerdo con lo anterior y acorde con la metodología asignada por el instructor para realizar la valoración de los impactos de la organización o proyecto se sugiere tener en cuenta la siguiente metodología.
        
        p Aunque se aclara que es solo una sugerencia ya que el abanico de metodologías es tan amplio que pueden elegir la más pertinente dependiendo del proyecto.

        p Imagen con la descripción de algunas de las metodologías más usadas en Colombia en los últimos años:

        p Fue desarrollado por la Unidad Planeación Recursos Naturales de las Empresas Públicas de Medellín en el año 1986, con el propósito de evaluar proyectos de aprovechamiento hidráulico de la empresa, pero posteriormente se utilizó para evaluar todo tipo de proyectos de EPM y ha sido utilizado por otros evaluadores para muchos tipos de proyectos con resultados favorables. Este método ha sido aprobado por las autoridades ambientales colombianas y por entidades internacionales como el Banco Mundial y el BID.  Ver instructivo en material de apoyo.

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-5.rounded
            .col-12
                p #[b ¡Estimado Aprendiz!]

                p Para profundizar en el tema lo invitamos a consultar el siguiente material de apoyo.
        
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo_2_Instructivo_para_valoracion_impactos.docx" target="_blank").media-link
                                img(src="assets/images/icons/icon_document.svg", alt="").media-link-icon
                                .media-link-title
                                    p Instructivo para la valoración de impactos EPM ARBOLEDA
                
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo_3_Instructivo_analisis_sintesis_impactos.docx" target="_blank").media-link
                                img(src="assets/images/icons/icon_document.svg", alt="").media-link-icon
                                .media-link-title
                                    p Instructivo de análisis y síntesis de impacto
                
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo_4_Instructivo_metodologia_valoración_riesgo_amb.docx" target="_blank").media-link
                                img(src="assets/images/icons/icon_document.svg", alt="").media-link-icon
                                .media-link-title
                                    p Instructiva metodología de valoración de riesgos ambientales
        
        p.mt-5 #[b Valoración de impactos metodología EPM o Arboleda]

        .header-arrow.my-5
            h3.text-center Canter y Sadler (1997) clasificaron las metodologías para la evaluación de impacto ambiental en veintidós grupos listados alfabéticamente y no en orden de importancia o de uso, los cuales se describen a continuación:

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-5.rounded
            .col-12
        
                #accordionExample.accordion
                    .card
                        #headingOne.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                    h2.mb-0.collapsable-title Analógicos.
                        #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                            .card-body
                                | Básicamente se remite a la información de proyectos existentes de un tipo similar al que está siendo analizado por un estudio de impacto. La información obtenida en la medición y seguimiento de los impactos ambientales actuales puede ser usada como una analogía a los impactos anticipados del proyecto propuesto. Además de que, clases similares de proyectos se pueden utilizar para un programa de seguimiento que desarrolle información sobre la huella del impacto de un proyecto propuesto.
                    .card
                        #headingTwo.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                    h2.mb-0.collapsable-title Listas de chequeo.
                        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                            .card-body
                                | Hay muchas variedades de #[b listas de chequeo], este tipo de metodología es la más frecuentemente utilizada en los procesos de EIA. Típicamente, la lista de chequeo contiene una serie de puntos, asuntos de impacto o cuestiones que el usuario atenderá o contestará como parte del estudio de impacto. Tales listas de chequeo representan recordatorios útiles para identificar impactos y proporcionar una base sistemática y reproducible para el proceso de EIA.
                    .card
                        #headingThree.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                    h2.mb-0.collapsable-title Listas de chequeo enfocadas a decisiones.
                        #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Representan un grupo de métodos los cuales están inicialmente referidas a comparar alternativas y conducir a un análisis de equilibrio. En este considerando, tales métodos son inicialmente útiles para la síntesis de información de estudios de impacto. Cada alternativa viable está sujeta a estudio. El proceso de EIA consistiría de una fase de análisis y una fase de síntesis, las listas de chequeo para decisiones pueden ser útiles para ambas fases, con particular valor asociado a la fase de síntesis. Hay varios tipos listas de chequeo para decisiones y está fuera del alcance de este trabajo resumir completamente todos los tipos.
                    .card
                        #headingFour.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                    h2.mb-0.collapsable-title Análisis ambiental coste-beneficio.
                        #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                            .card-body
                                | (#[i Environmental Cost-Benefit Análysis] ECBA). Este método complementa el tradicional análisis de coste-beneficio con una atención adicional a los recursos naturales y su valor económico. Su aplicación a la evaluación económica de impactos específicos de un proyecto propuesto y alternativos tiene considerables limitaciones. Las técnicas de estimación varían en complejidad y alcance, pero han tenido una considerable demanda entre los profesionales y usuarios de tales estudios (Azqueta, 1994).
                    .card
                        #headingFive.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                    h2.mb-0.collapsable-title Opinión de expertos.
                        #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                            .card-body
                                | El cual también puede ser referido como #[b Dictamen Profesional], representa un tipo ampliamente usado de métodos dentro del proceso de evaluación de impacto ambiental. Este método se utiliza normalmente para señalar los impactos específicos de un proyecto sobre los diferentes componentes medioambientales. Las herramientas específicas dentro de la categoría de #[b opinión de expertos] que pueden utilizarse para delinear información incluyen estudios Delphi y el uso del proceso adaptativo de evaluación ambiental. Con este enfoque los grupos de expertos identifican la información apropiada y elaboran modelos cualitativos/cuantitativos para la predicción de impactos o para simular procesos medioambientales.
                    .card
                        #headingSix.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                    h2.mb-0.collapsable-title Sistemas expertos.
                        #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
                            .card-body
                                | Consiste en recoger el conocimiento profesional y el juicio de expertos en áreas temáticas específicas y de actualidad. Tal conocimiento es codificado, a través de una serie de reglas o experiencias prácticas (heurísticas), en entornos de sistemas informáticos computacionales.
                                
                                p.mt-4 Los #[b Sistemas Expertos] son típicamente amigables al usuario y sólo requieren la respuesta a una serie de preguntas para conducir a un análisis particular. Se está incrementado la atención al desarrollo de #[b sistemas expertos] más exhaustivos para los procesos de EIA.
                    .card
                        #headingSeven.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                                    h2.mb-0.collapsable-title Índices o indicadores.
                        #collapseSeven.collapse(aria-labelledby='headingSeven', data-parent='#accordionExample')
                            .card-body
                                | Se refiere a características específicas o integradas de factores medioambientales o recursos. Se utilizan dentro de los estudios de impacto para representar parámetros de amplitud de medios o recursos. Específicamente, los #[b índices] se refieren a información numérica o bien información catalogada. Se usa como sistema auxiliar para describir los ambientes afectados, así como para la predicción y evaluación de impactos.

                                p.mt-4 Los #[b índices] numéricos o descriptivos se han desarrollado como una medida de la vulnerabilidad del medio ambiente y los recursos a la contaminación u otras acciones humanas y han probado su utilidad en la comparación de localizaciones para una actividad propuesta. Sobre estas bases, pueden ser formuladas las medidas para minimizar los impactos ambientales e incluir controles.
                    .card
                        #headingEight.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
                                    h2.mb-0.collapsable-title Pruebas de laboratorio y modelos a escala.
                        #collapseEight.collapse(aria-labelledby='headingEight', data-parent='#accordionExample')
                            .card-body
                                | Se pueden aplicar para conseguir información cualitativa / cuantitativa sobre impactos anticipados de un determinado tipo de proyecto en una localización geográfica dada. Aunque este tipo de métodos no han sido extensamente usados son apropiados para ciertos proyectos.
                    .card
                        #headingNine.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                                    h2.mb-0.collapsable-title Evaluación de paisajes.
                        #collapseNine.collapse(aria-labelledby='headingNine', data-parent='#accordionExample')
                            .card-body
                                | Son inicialmente útiles para la valoración de recursos estéticos o visuales. Tales métodos están basados típicamente en el desarrollo de información derivada de una serie de indicadores y la subsiguiente adición de dicha información sobre una puntuación global o índice para el escenario ambiental. Esta información puede ser usada como representativa de las condiciones de partida. El potencial impacto estético o visual de un proyecto propuesto puede entonces ser estimado otra vez sobre los registros base o índices, por ejemplo, la comparación con y sin proyecto.
                    .card
                        #headingTen.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTen', aria-expanded='false', aria-controls='collapseTen')
                                    h2.mb-0.collapsable-title Revisión Bibliográfica.
                        #collapseTen.collapse(aria-labelledby='headingTen', data-parent='#accordionExample')
                            .card-body
                                | Supone ensamblar información sobre los tipos de proyectos y su impacto típico. Como se notará, por analogías, este tipo de información puede ser muy útil para la pronta definición de impactos potenciales. Puede también ser usado para cuantificar anticipadamente, cambios específicos e identificar las medidas de mitigación para minimizar efectos indeseables. Actualmente está disponible una abundante información sobre impactos típicos de algunos proyectos.
                    .card
                        #heading11.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse11', aria-expanded='false', aria-controls='collapse11')
                                    h2.mb-0.collapsable-title Cálculos de balance de materia.
                        #collapse11.collapse(aria-labelledby='heading11', data-parent='#accordionExample')
                            .card-body
                                | Están basados inicialmente en inventarios de condiciones existentes para compararlas con los cambios que resultarán de una acción propuesta. Tales inventarios son frecuentemente usados en los procesos de EIA en el contexto de las emisiones de contaminantes al aire, al agua, y la generación de residuos sólidos y peligrosos. #[b Los cálculos de balance de materia] requieren la descripción del área de estudio para establecer las condiciones iniciales. Una manera de expresar el impacto es considerar los cambios absolutos y porcentuales en el inventario (o #[b balance de materia]) como resultado de una acción propuesta.
                    .card
                        #heading12.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse12', aria-expanded='false', aria-controls='collapse12')
                                    h2.mb-0.collapsable-title Matrices de interacción.
                        #collapse12.collapse(aria-labelledby='heading12', data-parent='#accordionExample')
                            .card-body
                                | Representan un tipo de método ampliamente usado en los procesos de EIA. Las variaciones de las matrices sencillas de interacción han sido desarrolladas para enfatizar rasgos característicos deseables, las matrices representan un tipo de método muy útil para el estudio de diversas actividades dentro de los procesos de EIA.
                    .card
                        #heading13.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse13', aria-expanded='false', aria-controls='collapse13')
                                    h2.mb-0.collapsable-title Monitorización.
                        #collapse13.collapse(aria-labelledby='heading13', data-parent='#accordionExample')
                            .card-body
                                | Se refiere a mediciones sistemáticas para establecer las condiciones existentes de los ambientes afectados, así como dotar de una base inicial de datos para interpretar la importancia de cambios anticipados de un proyecto propuesto. La #[b monitorización] podría enfocarse a los ambientes fisicoquímico, biológico, cultural y/o socioeconómico. La selección de indicadores apropiados para el seguimiento deberá ser realizado tanto en función de la disponibilidad de la información existente como del tipo de proyecto y de los impactos previstos.
                    .card
                        #heading14.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse14', aria-expanded='false', aria-controls='collapse14')
                                    h2.mb-0.collapsable-title Estudios de campo.
                        #collapse14.collapse(aria-labelledby='heading14', data-parent='#accordionExample')
                            .card-body
                                | Representa un tipo de método muy especializado. Específicamente, monitorización y análisis de impactos evidentes, manifestados actualmente a consecuencia del proyecto, resultantes de proyectos similares al proyecto del que se quiere prevenir los impactos. Una vez más, el énfasis se dará al seguimiento de indicadores seleccionados pertinentemente para el tipo de proyecto.
                    .card
                        #heading15.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse15', aria-expanded='false', aria-controls='collapse15')
                                    h2.mb-0.collapsable-title Redes.
                        #collapse15.collapse(aria-labelledby='heading15', data-parent='#accordionExample')
                            .card-body
                                | Se refiere a un grupo de métodos que definen las conexiones o relaciones entre acciones proyectadas e impactos resultantes. Estos tipos de métodos están referenciados de alguna manera con la práctica de EIA, por ejemplo, árboles de impacto, impacto de cambios, diagramas causa-efecto o diagramas de consecuencias. Las redes son útiles para mostrar las relaciones entre impactos primarios, secundarios y terciarios, resultantes de acciones particulares. Pueden también ser utilizados junto con matrices como una herramienta para la identificación de impactos y la predicción cualitativa de los mismos.

                                p.mt-4 Sobre el frizo de imágenes de clic para que se despliegue la información de las últimas 6 metodologías #[b para] la valoración de impactos.
                    .card
                        #heading16.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse16', aria-expanded='false', aria-controls='collapse16')
                                    h2.mb-0.collapsable-title Sobreposición de mapas.
                        #collapse16.collapse(aria-labelledby='heading16', data-parent='#accordionExample')
                            .card-body
                                | Propuesto por McHarg (1969) ha servido de base a otros métodos utilizados en la actualidad cuando se trata de localizar un pasillo o trazo lineal para vías de acceso, gasoductos o líneas de transmisión de energía eléctrica. Fue usado desde que comenzaron a requerirse las EIA, inicialmente consistió en un ensamble físico de mapas que desplegaban diferentes características ambientales, ahora se hace digitalmente. La tecnología de los sistemas de información geográfica (GIS) es una herramienta inspirada en este tipo de método bastante útil en los procesos de EIA. #[b La sobreposición cartográfica de transparencias], físicamente o digitalizada, se usa para describir condiciones existentes y desplegar cambios potenciales resultantes de una acción propuesta.
                    .card
                        #heading17.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse17', aria-expanded='false', aria-controls='collapse17')
                                    h2.mb-0.collapsable-title Fotografías o fotomontajes.
                        #collapse17.collapse(aria-labelledby='heading17', data-parent='#accordionExample')
                            .card-body
                                | Son útiles como herramientas para propósitos de desplegar la calidad visual del ambiente seleccionado e identificar los potenciales impactos visuales de una acción propuesta. En ese considerando, esta aplicación está relacionada con los métodos de evaluación del paisaje descritos anteriormente, con la ventaja adicional del uso de la fotografía digitalizada.
                    .card
                        #heading18.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse18', aria-expanded='false', aria-controls='collapse18')
                                    h2.mb-0.collapsable-title Modelización cualitativa.
                        #collapse18.collapse(aria-labelledby='heading18', data-parent='#accordionExample')
                            .card-body
                                | Se refiere a un grupo de métodos en el que, información descriptiva es utilizada para relacionar varias acciones con cambios resultantes en los componentes ambientales. Como tal, puede ser considerada como una extensión de las categorías de redes de trabajo descritas anteriormente. El enfoque general del #[b modelaje cualitativo] está en la comprensión de las interrelaciones fundamentales de los aumentos o disminuciones en ciertos rasgos ambientales como resultado de acciones particulares. En muchos casos, el #[b modelaje cualitativo] representa el único tipo de método disponible para la predicción de impactos. Nótese que está típicamente basado en opiniones de expertos (dictámenes profesionales) como se describió oportunamente.
                    .card
                        #heading19.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse19', aria-expanded='false', aria-controls='collapse19')
                                    h2.mb-0.collapsable-title Modelización cuantitativa (matemática).
                        #collapse19.collapse(aria-labelledby='heading19', data-parent='#accordionExample')
                            .card-body
                                | Se refiere a un extenso grupo de métodos, usados específicamente para prestar atención anticipadamente a los cambios en el medio ambiente o los recursos, como resultado de acciones propuestas. Tales modelos pueden variar desde versiones simplificadas a muy complicadas simulaciones tridimensionales basadas en ordenador que requieren de una gran cantidad de datos. Es importante reconocer que los modelos cuantitativos están disponibles para muchas de las áreas típicas de impactos asociados con proyectos particulares. Por ejemplo, hay algunos modelos de dispersión que se pueden usar para conocer anticipadamente los impactos en la calidad del aire por fuentes fijas de emisión de propuestas de incineradores de residuos peligrosos o de plantas de producción de electricidad que queman combustibles fósiles; igualmente, existen modelos de dispersión para prever la calidad del agua en los casos de vertidos contaminantes a cuerpos receptores de agua superficial y subterránea.
                    .card
                        #heading20.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse20', aria-expanded='false', aria-controls='collapse20')
                                    h2.mb-0.collapsable-title Evaluación de riesgo.
                        #collapse20.collapse(aria-labelledby='heading20', data-parent='#accordionExample')
                            .card-body
                                | Es una herramienta emergente para la práctica de EIA. Inicialmente fue usada para establecer estándares ambientales basados en temas de salud humana. La #[b evaluación de riesgos] típicamente abarca la identificación de los riesgos, consideraciones sobre la relación dosis-repuesta, conducción de una evaluación a la exposición, y evaluación del riesgo asociado. Esta aplicación puede ser usada tanto para riesgo a la salud humana como para riesgo ecológico.
                    .card
                        #heading21.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse21', aria-expanded='false', aria-controls='collapse21')
                                    h2.mb-0.collapsable-title Construcción de escenarios.
                        #collapse21.collapse(aria-labelledby='heading21', data-parent='#accordionExample')
                            .card-body
                                | Involucra consideraciones alternativas futuras como resultado de suposiciones iniciales diferentes. Esta técnica se utiliza en las áreas de planeación, pero también tiene aplicabilidad en EIA, particularmente en el contexto de la Evaluación Ambiental Estratégica (SEA) de políticas, planes y programas.
                    .card
                        #heading22.card-header
                            h2.mb-0
                                button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse22', aria-expanded='false', aria-controls='collapse22')
                                    h2.mb-0.collapsable-title Extrapolación de tendencias.
                        #collapse22.collapse(aria-labelledby='heading22', data-parent='#accordionExample')
                            .card-body
                                | Utiliza tendencias históricas y las proyecta al futuro basada en suposiciones asociadas a condiciones de cambio continuo. Tales métodos son particularmente valiosos cuando se enfocan a condiciones ambientales futuras sin que haya necesariamente una acción propuesta.

        p Para seleccionar una metodología, se recomienda tomar en cuenta algunas características importantes como: si da una visión global, si es selectivo, mutuamente excluyente, si considera la incertidumbre, si es objetivo e interactivo.

        p #[b Entre las varias metodologías generales existentes cualitativas y/o cuantitativas más usadas son:]

        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Listas de chequeo.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Diagramas de redes.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Superposición de mapas.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Matrices causa – efecto.
        
        p.my-4 Para ampliar la información a los diferentes tipos de metodologías de valoración dirigirse a material de apoyo Manual para la evaluación de impactos ambiental de proyecto, obra o actividad de Jorge Arboleda página 56 a la 105.

        section
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_5_Manual_EIA.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Manual de evaluación de impacto ambiental (EIA)
    
    br#metodologia

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.3 metodologia para la identificación y valoración de riesgos ambientales gtc 104 de 2009
        
        p.mt-4 Respetado aprendiz, revise la siguiente información Cada punto es importante, por tanto, revise los pasos y las metodologías a emplear:

        .row.mt-5.ml-5
            .col-10.col-md-12
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img12.png").img-fluid
                        p.card__copy 
                            span
                                b Recolección de información de acuerdo con la organización o proyecto.
                                
                                p.mt-4 Indagar sobre los siguientes elementos en la organización o proyecto. Para este proceso se utilizan herramientas de búsqueda o diagnóstico:
            
                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se indaga sobre los objetivos organizacionales de su proyecto formativo.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se describen los procesos productivos que se llevan a cabo al interior de la empresa.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se identifican los alcances de la operación de la empresa que hace parte del proyecto formativo.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se identifican los #[i Stakeholders] de la empresa.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se reconoce las técnicas actuales de comunicación interna y externa realizada por la organización.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se listan los componentes del ambiente que se ven afectados por el desarrollo de la actividad económica.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se identifican los sistemas de gestión implementados en la empresa.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se listan los recursos disponibles para llevar a cabo la valoración del riesgo.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Se identifique el contexto Interno y externo de la organización. Para este punto, puede guiarse de la NTC-IEC-ISO31010 o en la ISO 14001: 2015.

            .col-10.col-md-12
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img13.png").img-fluid
                        p.card__copy 
                            span
                                b Análisis de datos e información.
                                
                                p.mt-4 Una vez recolectada la información se procede a hacer un análisis que permita organizar datos recolectados. Para esto se utilizan matrices de Excel dónde consignan datos relevantes identificados.

            .col-10.col-md-12
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.png").img-fluid
                        p.card__copy 
                            span
                                b Identificación del riesgo.
                                
                                p.mt-4 El propósito de la identificación del riesgo es identificar lo que podrá suceder o cuales situaciones podrían existir que afecten el logro de los objetivos del sistema o la organización.
            
                                p #[b Los métodos para valorar el riesgo pueden incluir:]

                                .list.align-items-start
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Métodos basados en evidencias.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Enfoques sistemáticos en equipos.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mb-0 Técnicas de razonamiento inductivo.
                                
                                p.mt-4 En ese sentido es importante tener en cuenta la siguiente caja de herramientas presentada en la norma NTC-IEC-ISO31010, anexo Tabla A.1, la cual puede consultar en la biblioteca SENA: <a href="http://biblioteca.sena.edu.co/" target="_blank">http://biblioteca.sena.edu.co/</a> e ir a ICONTEC, buscar la norma NTC  ISO31010.

            .col-10.col-md-12
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img15.png").img-fluid
                        p.card__copy 
                            span
                                b Análisis de riesgos.
                                
                                p.mt-4 Análisis cualitativo.
                                
                                p Para realizar el análisis cualitativo se debe tener en cuenta las siguientes tablas:

                                ul
                                    li Medición cualitativa de la posibilidad. (Gestión del riesgo ambiental 104 - Tabla 4(A). Pag. 34)
                                    li Mediciones cualitativas de impacto. (Gestión del riesgo ambiental 104 - Tabla 4(B). Pag. 35)
                                    li Matriz de nivel de riesgo. (Gestión del riesgo ambiental 104 - Tabla 4(C). Pag. 35)
                                
                                p Vara visualizar las tablas anteriormente mensionadas click en el siguiente boton.

                                section
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="media/documentos/Anexo_6_GTC_104_de_2009.pdf" target="_blank").media-link
                                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p GTC 104 - Gestión del riesgo ambiental. Principios y procesos

            .col-10.col-md-12
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img16.png").img-fluid
                        p.card__copy 
                            span
                                b Valoración del riesgo.
                                
                                p.mt-4 Teniendo en cuenta el Anexo B de la norma NTC-IEC-ISO31010 y el Numeral 2.6 de la GTC 104 y la estrategia seleccionada se, diseña un formato para valorar los riesgos. La valoración del riesgo debe ir enfocada a la naturaleza de la empresa o proyecto, a continuación, remitase al documento Gestión del riesgo ambiental. (Pag. 42) Para visualizar la figura 4. Ilustración de las categorias del riesgo.

                                section
                                    .row.justify-content-center
                                        .col-auto
                                            a(href="media/documentos/Anexo_6_GTC_104_de_2009.pdf" target="_blank").media-link
                                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                                .media-link-title
                                                    p GTC 104 - Gestión del riesgo ambiental. Principios y procesos
    
    section.my-6#actividad-4
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5