.container

    .header-ecored
        h1 Material complementario
    
    .sub-line
            h2.my-5 Tema 2

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Noticias Caracol (agosto 2018). Ituango vive la peor crisis tras emergencia del proyecto hidroeléctrico.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=buPSHHPnPzk&feature=youtu.be", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
    
    .sub-line
            h2.my-5 Tema 4

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td SENA (2019) Instructivo para la valoración de impactos EPM ARBOLEDA.
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_2_Instructivo_para_valoracion_impactos.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td SENA (2019) Instructivo de análisis y síntesis de impacto.
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_3_Instructivo_analisis_sintesis_impactos.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td SENA (2019) Instructivo metodología de valoración de riesgos ambientales.
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_4_Instructivo_metodologia_valoración_riesgo_amb.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Arboleda Jorge (2008) Manual, para la evaluación de impactos ambiental de proyecto, obra o actividad.
                    td PDF
                    td 
                        a(href="media/documentos/Anexo_5_Manual_EIA.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
    
    .sub-line
            h2.my-5 Tema 5

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Instructivo Plan de Manejo Ambiental.
                    td Docx
                    td 
                        a(href="media/documentos/Anexo_7_Instructivo_plan_manejo_ambiental.docx", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver