include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alcaldía de Medellín (2014) Guía de Manejo Socioambiental para la Construcción de Obras de Infraestructura Pública de Medellín.", "")

        +referenciaItem("ANLA Autoridad Nacional de licencias Ambientales. (2018) Guía para la definición, identificación y delimitación del área de influencia.", "")

        +referenciaItem("Arboleda, J. A. (2008). Manual de evaluación de impacto ambiental de proyectos, obra o actividades. Medellin, Colombia. Recuperado de:", "https://doi.org/10.1017/CBO9781107415324.004")

        +referenciaItem("Conesa V. (1993). La Evaluación del Impacto Ambiental. Mundi Prensa. Segunda edición, Madrid, España.", "")

        +referenciaItem("Español, I. l. (2016). Evaluación de Impacto Ambiental. Dextra Editorial S.L.; Edición: 1.", "")

        +referenciaItem("Garmendia Salvador, A (2005). Evaluación de Impacto Ambiental. Pearson.", "")

        +referenciaItem("ICONTEC (2000). Norma NTC-ISO 14031 Instituto Colombiano de Normas Técnicas. Gestión Ambiental, Evaluación del Desempeño Ambiental, Directrices.", "")

        +referenciaItem("ICONTEC (2009). GTC 104 Gestión del Riesgo Ambiental, Principios y Procesos. ICONTEC (2007). ISO 14040 Gestión Ambiental, Análisis de Ciclo de vida. Principios y marco de referencia.", "")

        +referenciaItem("ICONTEC (2010). Noma NTC-ISO 14050 Instituto Colombiano de Normas Técnicas. Gestión ambiental, vocabulario.", "")

        +referenciaItem("ICONTEC (2015).  Norma NTC-ISO 14001 Sistema de gestión ambiental.", "")

        +referenciaItem("Martínez Orozco, J. (2020) Casos prácticos en Evaluación de Impacto Ambiental. Dextra Editorial.", "")

        +referenciaItem("Ministerio de Medio Ambiente. (2002) Manual de Evaluación de Estudios Ambientales.", "")